In [2]:
import pandas as pd
import geopandas as gpd

In [15]:
geobuurt = gpd.read_file('geojson_lnglat.json')

In [13]:
buurtpop = pd.read_csv('2021_buurten_1_01_39e9f71bae.csv')
buurtpop['buurt'] = buurtpop['buurt'].astype(str)
buurtpop['buurt2']= buurtpop['buurt'].apply(lambda x: x[5:])

In [14]:
buurtpop

,buurt,2016,2017,2018,2019,2020,2021,mannen,vrouwen,buurt2
0,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,A00a Kop Zeedijk,1022,1024,1032,1035,1100,1114,648,466,Kop Zeedijk
2,A00b Oude Kerk e.o.,673,664,689,704,728,700,392,308,Oude Kerk e.o.
3,A00c Burgwallen Oost,1616,1580,1589,1573,1613,1652,862,790,Burgwallen Oost
4,A00d Nes e.o.,372,360,361,352,351,368,203,165,Nes e.o.
...,...,...,...,...,...,...,...,...,...,...
478,T97c Gein Noordoost,3439,3406,3365,3314,3268,3248,1650,1598,Gein Noordoost
479,T97d Gein Zuidoost,3348,3351,3396,3423,3375,3355,1639,1716,Gein Zuidoost
480,T98a Dorp Driemond,1440,1457,1438,1486,1489,1484,703,781,Dorp Driemond
481,T98b Landelijk Gebied Driemond,39,68,110,120,131,143,79,64,Landelijk Gebied Driemond
482,Amsterdam,834713,844952,854316,862987,872380,872497,433052,439445,rdam

In [20]:
df = geobuurt[['Buurt', 'geometry']].set_index('Buurt').join(buurtpop.set_index('buurt2')[['2021']])

In [24]:
df['2021'].isna().sum()

282